<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        h2
        {
            color: blue;
        }
        body
        {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <center>
        <h1>Displaying information by using Jinja printing Tags</h1>
        <h1 style="color: red;">My Details are</h1>
        <h2>My name is {{name}}</h2>
        <h2>My age is {{age}}</h2>
        <h2>My gender is {{gender}}</h2>
        <h2>Iam {{status}}</h2>
        <h2>Today's Date is ...{{date}}</h2>
    </center>
</body>
</html>